<launch>
    <!-- iris_0 -->
    <group ns="iris_0">
        <!-- VINS-Fusion -->
        <node pkg="vins" type="vins_node" name="vins_estimator" args="$(find vins)/../config/xtdrone_sitl/iris_0_px4_sitl_config.yaml" />
    </group>

    <!-- iris_1 -->
    <group ns="iris_1">
        <!-- VINS-Fusion -->
        <node pkg="vins" type="vins_node" name="vins_estimator" args="$(find vins)/../config/xtdrone_sitl/iris_1_px4_sitl_config.yaml" />
    </group>

    <!-- iris_2 -->
    <group ns="iris_2">
        <!-- VINS-Fusion -->
        <node pkg="vins" type="vins_node" name="vins_estimator" args="$(find vins)/../config/xtdrone_sitl/iris_2_px4_sitl_config.yaml" />
    </group>

    <!-- iris_3 -->
    <group ns="iris_3">
        <!-- VINS-Fusion -->
        <node pkg="vins" type="vins_node" name="vins_estimator" args="$(find vins)/../config/xtdrone_sitl/iris_3_px4_sitl_config.yaml" />
    </group>

    <!-- iris_4 -->
    <group ns="iris_4">
        <!-- VINS-Fusion -->
        <node pkg="vins" type="vins_node" name="vins_estimator" args="$(find vins)/../config/xtdrone_sitl/iris_4_px4_sitl_config.yaml" />
    </group>

    <!-- iris_5 -->
    <group ns="iris_5">
        <!-- VINS-Fusion -->
        <node pkg="vins" type="vins_node" name="vins_estimator" args="$(find vins)/../config/xtdrone_sitl/iris_5_px4_sitl_config.yaml" />
    </group>
    
    <!-- transfer script -->
    <node pkg="vins" name="iris_vins_transfer" type="multi_vins_transfer.py" output="screen">
        <param name="~vehicle_type" value="iris"/>
        <param name="~vehicle_num" value="6" type="int" />
    </node>

    <node pkg="vins" name="iris_ego_transfer" type="ego_swarm_transfer.py" output="screen">
        <param name="~vehicle_type" value="iris"/>
        <param name="~vehicle_num" value="6" type="int"/>
    </node>

</launch>
